<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<div class="title">
	<h1>Nikshen Fashion Magazine</h1>
</div>
<div class="menu">
	<ul>
		<li><%= link_to 'Strona Glowna', controller: 'main_page' %></li>
		
		<li><%= link_to 'AMV', controller: 'amv' %></li>
		
		<li><%= link_to 'Wiadomosci', controller: 'articles' %></li>
	</ul>
</div>
<head>
    <title>Nikshen Fashion</title>
<meta http-equiv="content-type" content="text/html; charset=utf=8"/>
<meta name="author" content="Fashion Magazine"/>
<meta name="description" content="Nikshen- fashion magazine for woman. Here you can find and create you own style."/>
<meta name="keywords" content=""/>
<link rel="stylesheet" type="text/css" href="/css/style_desktop.css" />
<meta name="viewport" content="width=device-width, maximum-scale=3.0, minimum-scale=1.0, initial-scale=1" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width:500px)" href="css/style_mobile.css" />
<style type="text/css"> @import url("/css/print.css") print;
</style>
       <script type="text/javascript" src="js/JavaScript.js"></script>
       <script type="text/javascript"></script>

</head>
<body>
   
<div id="container">
    <header id="naglowek">
        <div id="logo">
            <a href="index.html">
                <img src="/img/Nikshen_logo.png" />
            </a>
        </div>
        <aside id="links">
            <ul>

                <li>
                    <a href="http://twitter.com/NikshenFashion" target="blank">
                        <img src="/img/logo_twitter.png" alt="logotwitter" />
                    </a>
                </li>
                <li>
                    <a href="http://www.facebook.com/NikshenFashion/" target="blank">
                        <img src="/img/logo_facebook.png" alt="logofacebook" />
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/nikshen.fashion/" target="blank">
                        <img src="/img/logo_instagram.png" alt="logoinstagram" />
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/109973535999872849959" target="blank">
                        <img src="/img/logo_google.png" alt="logo_google+.png" />
                    </a>
                </li>
            </ul>

        </aside>
        <div id="search">
            <form action="jakasakcja" method="post">
                <input type="text" name="szukaj" placeholder="--find--" size="15" maxlength="30" />
                <input type="submit" value="Find" />
            </form>
        </div>
        <div id="formularz">
            <a href="form.html">
                <br />
                </div>

    </header>
		<div id="tresc">
			<div id="lewakolumna">
				<div id="menu_container">
					<nav id="menu">
					<ul>
   <li><a href="index.html" id="active">Main menu
   </a>
    <ul class="menu"><li class="item first active"><a title="О нас" class="link" href="/o_nas/">About us</a></li>
                                    <a title="Мода" class="link" href="/moda/">Fashion</a></li><li class="
                                    item
                                    "><a title="Красота" class="link" href="/krasota/">Beautiful</a></li><li class="
                                    item
                                    "><a title="Звезды" class="link" href="/celebrities/">Stars</a></li><li class="
                                    item
                                    "><a title="Отношения" class="link" href="/otnosheniya/">Relations</a></li><li class="
                                    item
                                    "><a title="Стиль жизни" class="link" href="/stil-zhizni/">Style of life</a></li><li class="
                                    item
                                    "><a title="Статусы" class="link" href="/statusy/">Quotes</a></li><li class="
                                    item
                                    "><a title="Lookbook" class="link" href="/lookbook/">Lookbook</a></li><li class="
                                    item
                                    "><a title="Психология отношений" class="link" href="/tests/">Psyhology</a></li><li class="
                                    item
                                    "><a title="Конкурсы" class="link" href="/competition/">Play</a></li><li class="
                                    item
                                    "><a title="Видео" class="link video" href="/tag/video/">Video</a></li> 
                        <p>  <a href="form.html">Forma kontaktowa</a> </p> 						
   	
</ul>	
    
   </li>
                      

					</nav>
				</div>
			</div>
			<div id="prawakolumna">
				<div id="crunch">
					  <a href="default.aspx">Main page</a>&nbsp;&gt;&nbsp;
					  
				</div>
				<article id="content">
					 
					  <h3>Nikshen</h3>
					  <a>
					  <img src="/img/logo.png" id="bawsie" alt="picture"/>
					  </a>
<p>
Designers in <strong>Paris</strong> played with off-the-shoulder looks for the fall 2016 season — sometimes exposing skin, sometimes layered. Either way, it was an engagingly relaxed effect.
</p>
<p>CONTEMPLATING CARA:</p>
                    <p> The artist Jonathan Yeo has debuted nine new portraits of Cara Delevingne in Copenhagen, but the portraitist isn’t done with the model and actress yet.

<q>“The more I work with her, the more ideas I have,”</q> he told WWD following the opening of his biggest solo show at the city’s Museum of National History last weekend. “From that point of view, she’s more of an old-fashioned muse to me.”

The artist was introduced to Delevingne by the interior designer David Linley at a Christie’s charity auction organized by Kevin Spacey in aid of the Old Vic theatre. Spacey had served as artistic director there until last April. Yeo’s portrait of Spacey as his devious “House of Cards” character, Francis “Frank” Underwood, was unveiled last month at the Smithsonian National Portrait Gallery, which also contains portraits of some of America’s past presidents.

The Delevingne portraits appear as a kind of show-within-a-show in the context of a larger retrospective.</p>
                    <hr /><p> They are the result of an experiment whereby Yeo set out to create a series of portraits of one person showing different sides of their personality.

“Someone had mentioned to me that Cara was interested in my work, and I was aware that she has one of the most interesting faces in the world right now,” he said. <q>“She is beautiful — but she doesn’t mind if she doesn’t look beautiful. You can sense that genuine openness, which is not always the case with people in that line of business. She’s bright and articulate; she doesn’t take things too seriously but she is very quick to grasp concepts and ideas.”</q>

Delevingne started sitting for Yeo at his studio shortly afterwards, and it was then that he realized that she would be the subject of this exploration in portraiture. “The first time she came to the studio, she walked around picking up props like masks, wigs and eyewear, putting them on and clowning around, which is the opposite of what most people do. She was not at all precious or trying to control her image,” he said.

In one painting, she looks out at the viewer from behind a comical mask of Groucho Marx’s nose, moustache and big eyebrows, a nod to one of Delevingne’s most recognizable features. In another, she is shown holding her mobile phone aloft taking a selfie of herself while wearing an old-fashioned optometrist’s testing phoropter.

</p><hr /><p><q>“I am happy to have bumped into her early enough to keep working together for some time to come. She will be an exciting subject for quite a long time to come as her career and life evolves,”</q> Yeo said.

Other subjects featured in the retrospective include former <dfn>British Prime Minister Tony Blair</dfn>, Damien Hirst, Jude Law, Stephen Fry and Rupert Murdoch.

Next, Yeo plans to explore the concept of ideal beauty for his next series that will link with his continued work with his new muse, Delevingne.
</p>
                   


                  

				</article>
			</div>
			<div style="clear:both"></div>
		</div>
   
		<footer id="footer">
	<p>&copy;Alena Bohun<p>
		</footer >
   </div>

<div> 
</div>
</body>
</html>
