<div class="title">
	<h1>Ani-Desu</h1>
</div>
<div class="menu">
	<ul>
		<li><%= link_to 'Strona Glowna', controller: 'main_page' %></li>
		<li>Anime</li>
		<li><%= link_to 'AMV', controller: 'amv' %></li>
		<li>Manga</li>
		<li><%= link_to 'Wiadomosci', controller: 'articles' %></li>
	</ul>
</div>
<div class="tresc">
	<center>Witamy na naszej stronie internetowej</center>
	<p>Tresc</p>
	<div class="images"><img src="/assets/main1.jpg" alt="img"/></div>
	<div class="images"><img src="/assets/main2.jpg" alt="img"/></div>
</div>
